.app__help-faq .question {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 1rem;
    background: #3e3e4a;
    padding: .5rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
}

.app__help-faq .question b {
    color: orangered;
}